*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #fff;
  color: #434455;
  padding: 0;
  margin: 0;
}
ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: inline-block;
}
a:hover,
a:focus {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
img {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  margin-top: 0;
}
h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  color: #2e2f42;
  letter-spacing: 0.02em;
  margin: 0;
}
h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
  margin: 0;
  margin-bottom: 8px;
}
p {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  margin: 0;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* ============ HEADER STYLES ============ */

.header-cont {
  display: flex;
  justify-content: space-around;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.nav {
  display: flex;
  align-items: center;
  margin-right: 332px;
}
.menu {
  display: flex;
  gap: 40px;
}
.header-link {
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.studio-link {
  color: #404bbf;
}
.studio-link::after {
  display: block;
  margin: 0 auto;
  content: "";
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background: #404bbf;
  position: absolute;
  bottom: -1px;
  left: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
  font-style: normal;
}
.address-info {
  color: #434455;
  font-weight: 400;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts {
  display: flex;
  gap: 40px;
}

/* ============ HERO STYLES ============ */

.hero-section {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1440px;
  margin: 0 auto;
}
.hero-display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero-title {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  color: #fff;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: 0;
}
.button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  font-weight: 500;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  padding: 16px 32px;
  margin-top: 48px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}

/* ============ BENEFITS STYLES ============ */

.benefit-section {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefit-items {
  display: flex;
  gap: 24px;
}
.benefit-item {
  flex-basis: calc((100% - 72px) / 4);
}
.benefit-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
  padding: 24px 100px;
  height: 112px;
}

/* ============ OUR TEAM STYLES ============ */

.third-section {
  background: #f4f4fd;
  padding: 120px 0;
}
.section-title {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.third-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.third-list {
  background: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.third-cont-item {
  padding: 32px 0;
  text-align: center;
}
.third-items-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 8px;
}
.third-link-icon {
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.third-link-icon:hover,
.third-link-icon:focus {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.third-svg-icon {
  fill: #f4f4fd;
}

/* ============ PORTFOLIO STYLES ============ */
.four-section {
  padding: 120px 0;
}
.four-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  row-gap: 48px;
}
.four-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.four-position {
  position: relative;
  overflow: hidden;
}
.four-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.four-item:hover .four-overlay-text {
  transform: translateY(0%);
}
.four-text-container {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}
.four-overlay-text {
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 300px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: #4d5ae5;
  color: #f4f4fd;
}

/* ============ FOOTER STYLES ============ */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-cont {
  display: flex;
  align-items: baseline;
}
.footer-info {
  margin-right: 120px;
}
.bottom-logo {
  margin-bottom: 16px;
}
.focus {
  color: #f4f4fd;
  line-height: 1.17;
}
.last-text {
  color: #f4f4fd;
  line-height: 1.5;
  max-width: 264px;
}
.footer-icon {
  margin-right: 80px;
}
.last-text-icon {
  color: #fff;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 16px;
}
.footer-items-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}
.footer-item-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-link-icon {
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.footer-link-icon:hover,
.footer-link-icon:focus {
  background-color: #31d0aa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-subscribe {
  display: flex;
  gap: 24px;
}
.subcriber-text {
  color: #fff;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 16px;
  letter-spacing: 0.02em;
}
.subcriber-input {
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid #fff;
  border-radius: 4px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: transparent;
  background-color: transparent;
  color: #fff;
}
.subcriber-input::placeholder {
  color: #fff;
}
.subcriber-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subcriber-button:hover {
  background: #404bbf;
}
.subcriber-icon {
  fill: #fff;
  margin-left: 16px;
}

/* ============ BACKDROP STYLES ============ */

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(46, 47, 66, 0.4);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px;
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 0;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon-btn:hover,
.modal-icon-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.form-cont {
  margin-bottom: 8px;
}
.form-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  border: 1px solid #4d5ae5;
}
.form-input:focus + .form-icon {
  fill: #4d5ae5;
}
.form-cont-icon {
  position: relative;
}
.form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-message {
  margin-bottom: 16px;
}
.form-comment {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-comment:focus {
  border: 1px solid #4d5ae5;
  outline: transparent;
}
.form-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.checkbox-cont {
  margin-bottom: 24px;
}
.privacy-policy-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.form-text-cont {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  fill: transparent;
  margin-right: 8px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.privacy-policy:checked + .privacy-policy-label .form-text-cont {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}
.privacy-policy:focus + .privacy-policy-label .form-text-cont {
  outline: transparent;
}
.privacy {
  line-height: 1.3;
  text-decoration: underline;
  color: #4d5ae5;
}

.form-button {
  display: block;
  min-width: 169px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  padding: 16px 32px;
  margin: 0 auto;
  color: #fff;
  border-radius: 4px;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-button:hover,
.form-button:focus {
  background-color: #404bbf;
}
